@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #24252A;
}

html {
    scroll-behavior: smooth;
    -ms-overflow-style: none;
}

body {
    background-color: #24252A;
}

img {
  max-width: 100px;
  max-height: 100px;
}

.container {
  text-align: center;
}

html::-webkit-scrollbar{
    display: none;
}

li, a, button {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 16;
    color: #ECF0F1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.name {
    font-family: "Lato", sans-serif;
    font-size: 15pt;
    font-weight: 1000;
    color: #ECF0F1;
    text-decoration: none;
}

.logo {
    cursor: pointer;
    height: auto;
    width: auto;
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
    position: fixed;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color:#3d6bba;
}

button {
    padding: 9px 25px;
    background-color: #3d6bba;
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: #30538f;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

p {
    padding-left: 10em;
    padding-right: 10em;
    font-family: "Lato", sans-serif;
    font-size: 14pt;
    color: #ECF0F1;
    text-decoration: none;
    border-bottom: 2px solid #24252A;
    tab-size: 4;
}

footer {
    background-color: #24252A;
    border-top: 2px solid #24252A;
    color: white;
    text-align: center;
    padding-bottom: 4em;
}

.pepe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    cursor: pointer;
}

.center {
    display: block;
    text-align: center;
}

h3 {
    font-family: "Lato", sans-serif;
    font-weight: 500;
    font-size: 10;
    color: #ECF0F1;
    text-decoration: none;
}

@media only screen and (max-width: 600px) {

      header {
        padding: 15px 5%;
        padding-top: 0;
      }

    p {
        padding-left: 1em;
        padding-right: 1em;
        font-family: "Lato", sans-serif;
        font-size: 14pt;
        color: #ECF0F1;
        text-decoration: none;
        border-bottom: 2px solid #24252A;
        tab-size: 4;
        text-align: center;
        overflow: hidden;
    }

    .name {
        font-size: 15;
        padding-top: 5px;
        padding-left: 5px;
        text-align: center;
        overflow: hidden;
    }

    .center {
      text-align: center;
      display: block;
      overflow: hidden;
    }

    * {
        overflow-x: hidden;
    }

    .nav_links {
        list-style: none;
    }

    .nav_links li {
        display: none;
        padding: 0px 20px;
    }

    button {
        display: none;
    }

}
